#contenedor{
    width: 520px;
    background-color: #caf1fa;
}
#contenido{
    width: 400px;
    padding: 5px;
    height: 180px;
    border: 5px solid;
    //background-color: #facfed;
    margin: 50px;
    
}

p{
    margin: 0;
}