body {
    font-family: arial;
}

div {
    background-color: #ebfffc;
}

h1 {
    color: #00f;
}

p {
    color: #888;
}

.rojo {
    color: #f00;
}

#footer{
    background-color: #f00;
}

.green{
    color: aqua;
}

#verde{
    color: #0f0;
}