body {
    font-family: "trebuchet ms", georgia, serif;
    font-size: 100%;
}

h1 {
    font-size: 2em;
    font-weight: normal;
    color: #F00;
    background-color: #e4e3fd;
    padding: 20px;
    width: 50%;
}
h2{
    font: bold italic small-caps 2em/1.4 arial;
}

p {
    font-style: italic;
}
