div {
    width: 200px;
    height: 200px;
    border: 20px solid rgba(0, 0, 255, .5);
    margin: 1em auto; padding: 20px;
    background: #EEE url(../img/estrella.svg);
    background-clip: content-box;
}