#greeting
{
	position:absolute;
	left:100px;
	top:100px;
	color:#0000ff;
	font-size:50px;
	margin:0;
	padding:10px;
	border: 2px solid black;
	
	
	transition:font-size 1s ease 250ms,
			color 1s,
			left 1s
}

#greeting.myTransition
{
	font-size:100px;
	color:#F30;
	left:120px
}
