div {
    width: 150px;
    height: 3000px;
    margin: 0 auto;
    border-top: 15px solid #00F; border-bottom: 15px solid #00F;
    background: #EEE url(../img/estrella.svg);
    background-attachment: fixed;
}