div {
    width: 150px; height: 150px;
    margin: 20px; padding: 10px;
}

#uno {
    background-color: #F00;
    float: both;
}

#dos {
    background-color: #0F0;
}

#tres {
    background-color: #00F;
}