#contenedor {
    width: 80%; margin: 0px auto;
}

#contUno {
    background-color: #F00; height: 200px;
    position: relative;
}

#contDos {
    background-color: #0F0; height: 200px;
}

#redes {
    width: 100px; height: 30px;
    background-color: #DDD;
    position: absolute;
    bottom: 5px;
    right: 5px;
}